body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
  font-family: 'Londrina Sketch', cursive;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 30px 10px;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cabin Sketch', cursive;
  color: black;
  font-weight: 600;
  border-radius: 25px;
  background-color: #ffffff;
  border-color: black;
  outline: none;
  box-shadow: 0 6px #999;
}

.red {
  color: red;
}

.black {
  color: black;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

button:hover  {
  background-color: #4b5050;
  color: white;
}

.rainbow:hover {
  color: white;
  background-clip: border-box;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 4px #666;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 0px;
  background-color: #CC0000;
  padding: 25px;
  flex-wrap: nowrap;
  width : 400px;
  height: 400px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  font-size: 0px;
}

.pixel {
  background-color: white;
  -webkit-filter: brightness(100%);
}

.footer {
  font-family: helvetica;
  margin-top: 10px;
}
